<!--

-->
{{> header }}
<div class="page home">


  {{!============================================================}}
  {{!======================= Home view ==========================}}
  {{!============================================================}}
  <div class="home-section-main invisible" id="home-section-main">
    <h1>Ontwikkeld voor studenten die een kot zoeken, en kotbazen (in Gent)</h1>
    <div class="body">
      {{ appName }} is een web applicatie die kotbazen en studenten die een kot zoeken in contact brengen met elkaar.
    </div>
    <button class="btn-basic btn-register-start" id="btn-register-start">
      Registreren
    </button>
  </div>


  {{!============================================================}}
  {{!===================== Choose entity ========================}}
  {{!============================================================}}
  <div class="home-section-entity invisible" id="home-section-entity">
    <button class="btn-basic" id="btn-register-start-student">Ik ben student</button>
    <button class="btn-basic " id="btn-register-start-kotbaas">Ik ben kotbaas</button>
  </div>


  {{!============================================================}}
  {{!===================== Form to register =====================}}
  {{!============================================================}}
  <div class="home-section-register" id="home-section-register">
    <form class="submit-new-user" id="submit-new-user">

      <label for="register-firstName">Voornaam</label>
      <input type="text" name="register-firstname" id="register-firstname" placeholder="Jan">

      <label for="register-lastName">Achternaam</label>
      <input type="text" name="register-lastname" id="register-lastname" placeholder="Janssens">

      <label for="register-email">Emailadres</label>
      <input type="email" name="register-email" id="register-email" placeholder="jan.janssens@gmail.com">

      <label for="register-phone">Tel/gsm nummer</label>
      <input type="tel" name="register-phone" id="register-phone" placeholder="0495 12 34 56">

      <label for="register-place">Gemeente</label>
      <input type="text" name="register-place" id="register-place" placeholder="Gent">

      <label for="register-adress">Straat en huisnummer</label>
      <input type="text" name="register-adress" id="register-street" placeholder="Overpoortstraat 1">

      <label for="register-adressExtra">Toevoeging</label>
      <input type="text" name="register-adressExtra" id="register-extra" placeholder="bus 201">

      <label for="register-password">Wachtwoord</label>
      <input type="password" name="register-password" id="register-password" placeholder="wachtwoord1234">

      <label for="register-passwordConfirm">Wachtwoord bevestigen</label>
      <input type="password" name="register-passwordConfirm" id="register-passwordConfirm" placeholder="wachtwoord1234">

      <label for="register-hogeschool" id="register-hogeschoolChoice1" class="invisible">Hogeschool</label>
        <select id="register-hogeschoolChoice" class="invisible">
          <option>Hogeschool</option>
          <option value="Artevelde">Artevelde Hogeschool</option>
          <option value="HoGent">HoGent</option>
          <option value="unifGent">Universiteit Gent</option>
          <option value="Odisee">Odisee</option>
        </select>

      <input type="submit" class="btn-basic" id="btn-register-start-submit" value="Registreren">

    </form>

    
  </div>
  <button type="submit" class="btn-basic invisible" id="btn-register-start-logout">Uitloggen</button>


  {{!============================================================}}
  {{!===================== Form to login ========================}}
  {{!============================================================}}
  <div class="home-section-login invisible" id="home-section-login">
    <form type ="get" class="login-user" id="login-user">
        <label for="email-login">Emailadres</label>
        <input type="email" name="email-login" id="email-login" placeholder="jan.janssens@gmail.com">

        <label for="password-login">Wachtwoord</label>
        <input type="password" name="password-login" id="password-login" placeholder="wachtwoord1234">
      <button type="submit" class="btn-basic" id="btn-login">Inloggen</button>
    </form>
  </div>
</div>
{{!-- {{> footer }} --}}