<!--

-->
{{> header }}
<div class="page kotInDetail">
    <div class="image-kot-content">
        <div id="kotDetail-image1" class="kot-file-upload">
        </div>
        <div class="kot-upload-small-collect">
            <div id="kotDetail-image2" class="kot-file-upload small">
            </div>
            <div id="kotDetail-image3" class="kot-file-upload small">
            </div>
        </div>
    </div>
    <h1 id="kotDetail-price-value">€350</h1>
    <p id="kotDetail-info-value">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
    <h3>Overzicht</h3>
    <p class="kotDetail-studio-type">Type:<strong id="kotDetail-studio-type-value">studio</strong></p>

    <p class="kotDetail-oppervlakte">Oppervlakte:<strong id="kotDetail-oppervlakte-value">30m2</strong></p>

    <p class="kotDetail-verdieping">Verdieping:<strong id="kotDetail-verdieping-value">2</strong></p>

    <p class="kotDetail-maxPersonen">Aantal personen:<strong id="kotDetail-maxPersonen-value">3</strong></p>

    <p class="kotDetail-kotenInPand">Aantal koten in het pand:<strong id="kotDetail-kotenInPand-value">12</strong></p>


    <h3>Interieur</h3>
    <p class="kotDetail-douche">Douche:<strong id="kotDetail-douche-value">Ja</strong></p>

    <p class="kotDetail-bad">Bad:<strong id="kotDetail-bad-value">Nee</strong></p>

    <p class="kotDetail-toilet">Toilet:<strong id="kotDetail-toilet-value">Ja</strong></p>

    <p class="kotDetail-keuken">Keuken:<strong id="kotDetail-keuken-value">Gemeenschappelijk</strong></p>

    <p class="kotDetail-bemeubeld">Bemeubeld<strong id="kotDetail-bemeubeld-value">Nee</strong></p>

    <h3>Chat met de kotbaas:</h3>

    <form action="" class="start-conversation" id="start-conversation">
        <textarea type="text" name="message" id="message">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        </textarea>
        <button class="btn-basic" id="btn-startConversation-submit">Versturen</button>
    </form>
    
</div>