{{> header }}


<div class="page">
    <div class="wrapper" id="kotOverviewAll">
        <div class="list-view-nav">
            <i class="fas fa-th-large invisible" id="list-view-icon-blok"></i>
            <i class="fas fa-list" id="list-view-icon-list"></i>
        </div>
    </div>
</div>
