{{> header }}
<div class="page home">
  <div class="home-section-login" id="home-section-login">
      <form type ="get" class="login-user" id="login-user">
          <label for="email-login">Emailadres</label>
          <input type="email" name="email-login" id="email-login" placeholder="jan.janssens@gmail.com">

          <label for="password-login">Wachtwoord</label>
          <input type="password" name="password-login" id="password-login" placeholder="wachtwoord1234">
        <button type="submit" class="btn-basic" id="btn-login">Inloggen</button>
      </form>
    </div>
</div>