<!--

-->
{{> header }}
<div class="page mijnKoten">
    <div class="wrapper collection-mijn-koten" id="collectionMyKoten">
        <h4>Mijn koten overzicht</h4>
    </div>
</div>

{{!-- {{> footer }} --}}