<!--

-->
{{> header }}
<div class="page mijnKoten">
    <div class="list-view-nav">
        <h6>Mijn koten:</h6>
        <i class="fas fa-th-large invisible" id="list-view-icon-blok"></i>
        <i class="fas fa-list" id="list-view-icon-list"></i>
    </div>
    <div class="wrapper collection-mijn-koten" id="kotOverviewAll">
    </div>
</div>

{{!-- {{> footer }} --}}