<!--

-->
{{> header }}
<div class="page chat-single">
    <div class="wrapper chat-single-conversation">
        <div id="chat-collection-all-messages">
        </div>
        <div class="chat-testding" id='elementID'></div>
        <form action="">
            <input type="text" id="value-new-message" placeholder="Nieuwe chat sturen">
            <button type="submit" id="submit-new-message">stuur bericht</button>
        </form>
    </div>
</div>

{{!-- {{> footer }} --}}