@import "../../node_modules/mapbox-gl/dist/mapbox-gl.css"
// general
@import "./fonts"
@import "./variables"
@import "./page"
@import "./home"
@import "./header"
@import "./footer"
// pages
@import "./about"
@import "./profile"
@import "./kotOverview"
@import "./kotDetail"
@import "./addKot"
@import "./chat"
@import "./singleChat"
@import "./login"
@import "./mijnKoten"
@import "./mijnKotenDetail"

// Generic styling
html
    font-family: $base-font-family
body
    font-family: $base-font-family
    font-size: $base-font-size
    margin: 0 auto
    min-height: 100vh
    height: 100vh
    color: $main-color
    #app
        min-height: 100vh
        height: 100vh
    #map
        top: 0
        bottom: 0
        width: 500px
        height: 200px
        text-align: initial
        margin: 0 auto
    form
        text-align: left
        font-size: 18px
        position:relative
        label
            width: 100%
        input
            border: none
            border-bottom: 1px solid $main-color
            background-color: rgba(1,1,1,0)
        input:focus, select:focus, textarea:focus
            outline: none !important;
            box-shadow: none
        input, select, textarea
            width: 100%
            height: 35px
            margin-bottom: 20px
        .invisible
            display: none
    h3
        color: $base-color
        background-color: $sec-light-color
        padding: 10px
        font-size: 1,375rem
        font-weight: $base-font-weight
    h6
        text-align: left
        max-width: 200px
        display: block
        float: left
        font-size: 1rem
        margin: 0
        margin-top: 20px
    /* .addKot
        form
            label
                display: block
                float: left
                width: 45%
            input
                display: block
                float: right
                width: auto */
                
    .btn-basic
        height: 40px
        background-color: $btn-background-color
        font-weight: $base-font-weight
        font-size: 2rem
        color: $base-color
        width: 100%
        border: none
        border-radius: 5px
    .invisible
        display: none

@media screen and (min-width: 768px)
    body
        h6
            font-size: 2rem
            margin-top: 10px


@media screen and (min-width: 1000px)
    body
        max-width: 1000px