//Variables voor de mode
$dev-mode: true !default;


//Variables for typography
$base-font-family: 'Roboto', serif;
$base-font-weight: 400;
$base-line-height: 1.42;
$base-font-size: 16px;

    
//Variables for colors
$dark-blue: #4B6FB7;
$base-color: #FFFFFF;
$main-color: #333333;
$sec-light-color: #9CC1E5;
$sec-dark-color: $dark-blue;

$header-bg: $dark-blue;
$btn-background-color: $dark-blue;